<h1>FAQs</h1>

<div id='faqs' class="accordion" data-update-url="<%= sort_faqs_url %>">
<% @faqs.each do |faq| %>
  <%= content_tag_for :div, faq do %>
	  <h3>
      <strong>Question:</strong>
      <%= best_in_place faq, :question, :as => :input %>
    </h3>
    <div>
      <strong>Answer:</strong>
      <%= best_in_place faq, :answer %>
    </div> 
  <% end %>
<% end %>
</div>

<p><%= link_to "New FAQ", new_faq_path %></p>
