<h1>FAQs</h1>

<ul id='faqs' data-update-url="<%= sort_faqs_url %>">
<% @faqs.each do |faq| %>
  <%= content_tag_for :li, faq do %>
	  <p>
      <strong>Question:</strong>
      <%= best_in_place faq, :question, :as => :input %>
    </p>
    <p>
      <strong>Answer:</strong>
      <%= best_in_place faq, :answer %>
    </p> 
  <% end %>
<% end %>
</ul>

<p><%= link_to "New FAQ", new_faq_path %></p>
